.watchListDiv, .seenListDiv {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.15);
    width: 250px;
    height: 600px;
    padding: 3%;
}

.watchListContent, .seenListContent {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3% 0;
    border-radius: 10px;
    padding: 0 5%;

    p {
        margin: 0;
    }
}

.watchListContent {border: 4px solid green}
.seenListContent {border: 4px solid blue}

.description {
    font-style: italic;
}